<MarketplaceDetails>
  <SmallAppTile>App300x300.png</SmallAppTile>
  <ScreenShots>wvga_kursna1.png;wvga_kursna2.png;;;;;;;</ScreenShots>
  <ScreenShotsWXGA>wxga_kursna1.png;wxga_kursna2.png;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>720p_kursna1.png;720p_kursna2.png;;;;;;;</ScreenShots720P>
</MarketplaceDetails>